<%= form_for @producto, :html => { :class => 'well' } do |f| %>

	<% if @producto.errors.any? %>
	    <div class="alert alert-error fade in">
		  	<a class="close" data-dismiss="alert" href="#">&times;</a>
  			<h4><%= pluralize(@producto.errors.count, "Error") %> Revise los datos ingresados:</h4>
     		<ul>
      		<% @producto.errors.full_messages.each do |msg| %>
        		<li><%= msg %></li>
      		<% end %>
	      </ul>
    	</div>
   	  <% end %>


  <div class="control-group">
    <%= f.label :TipoProducto, "Tipo de Producto", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :TipoProducto, Producto::TIPOS, {:include_blank => false} %>
    </div>
  </div>
  
  <div class="control-group>
    <%= f.label :Descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Descripcion, :class => 'input-xxlarge', error: true   %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :capacidad, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :capacidad, :class => 'number_field' , error: true%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comentario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comentario, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :idCategoria, "Categoria", :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :idCategoria, Categoria.find(:all) ,:id,:descripcion, {:include_blank => false} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Origen, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Origen, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Gastronomia, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Gastronomia, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Cata, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Cata, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Temperatura, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :Temperatura, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :anada, "Añada", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :anada, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :crianza, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :crianza, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :uva, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :uva, :class => 'text_field' %>
    </div>
  </div>

	<div class="control-group">
	    <%= f.label :imagen, "Nombre Imagen", :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :imagen, :class => 'text_field' %>
	    </div>
	  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => "Cancelar"),
                productos_path, :class => 'btn' %>
  </div>
<% end %>
