<%- model_class = Producto -%>
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>id</th>
      <th>TipoProducto</th>
      <th>Descripcion</th>
      <th>Capacidad</th>
      <th>Categoria</th>
      <th>Origen</th>
      <th>Cata</th>
      <th>Temperatura</th>
      <th>Añada</th>
      <th>Crianza</th>
      <th>Uva</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= link_to producto.id, producto_path(producto) %></td>
        <td><%= producto.TipoProducto %>
        </td>
        <td><%= producto.Descripcion %></td>
        <td><%= producto.capacidad %></td>
        <td><% @vat =  Categoria.find(producto.idCategoria)%>
        	<%= @vat.descripcion %></td>
        <td><%= producto.Origen %></td>
        <td><%= producto.Cata %></td>
        <td><%= producto.Temperatura %></td>
        <td><%= producto.anada %></td>
        <td><%= producto.crianza %></td>
        <td><%= producto.uva %></td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                      edit_producto_path(producto), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => "Eliminar"),
                      producto_path(producto),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_producto_path,
            :class => 'btn btn-primary' %>
