<%- model_class = Producto -%>
  <h3>Producto</h3>

<dl class="dl-horizontal">
  <dt><strong>Tipo Producto:</strong></dt>
  <dd><%if @producto.TipoProducto == 0 %>
  			Vino
  		<%else%>
  			Caja
  		<%end%> 
   </dd>
  <dt><strong>Descripcion : </strong></dt>
  <dd><%= @producto.Descripcion %></dd>
  
  <dt><strong>Capacidad:</strong></dt>
  <dd><%= @producto.capacidad %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:comentario) %>:</strong></dt>
  <dd><%= @producto.comentario %></dd>
  
  <dt><strong>Categoria :</strong></dt>
  <dd><% @var1 = Categoria.find(@producto.id) %>
  	<%=@var1.descripcion %>
  </dd>
  
  <dt><strong><%= model_class.human_attribute_name(:Origen) %>:</strong></dt>
  <dd><%= @producto.Origen %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Gastronomia) %>:</strong></dt>
  <dd><%= @producto.Gastronomia %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Cata) %>:</strong></dt>
  <dd><%= @producto.Cata %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Temperatura) %>:</strong></dt>
  <dd><%= @producto.Temperatura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:anada) %>:</strong></dt>
  <dd><%= @producto.anada %></dd>
  <dt><strong><%= model_class.human_attribute_name(:crianza) %>:</strong></dt>
  <dd><%= @producto.crianza %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uva) %>:</strong></dt>
  <dd><%= @producto.uva %></dd>
    <dt><strong><%= model_class.human_attribute_name(:imagen) %>:</strong></dt>
  <dd><%= image_tag(@producto.imagen, class: 'list_image') %></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => "Volver"),
              productos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => "Editar"),
              edit_producto_path(@producto), :class => 'btn' %>
  <%= link_to t('.destroy', :default => "Eliminar"),
              producto_path(@producto),
              :method => 'delete',
              :data => { :confirm => "Esta seguro de eliminar?" },
              :class => 'btn btn-danger' %>
</div>
