<%- model_class = Producto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:TipoProducto) %>:</strong></dt>
  <dd><%= @producto.TipoProducto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Descripcion) %>:</strong></dt>
  <dd><%= @producto.Descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:capacidad) %>:</strong></dt>
  <dd><%= @producto.capacidad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comentario) %>:</strong></dt>
  <dd><%= @producto.comentario %></dd>
  <dt><strong><%= model_class.human_attribute_name(:idCategoria) %>:</strong></dt>
  <dd><%= @producto.idCategoria %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Origen) %>:</strong></dt>
  <dd><%= @producto.Origen %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Gastronomia) %>:</strong></dt>
  <dd><%= @producto.Gastronomia %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Cata) %>:</strong></dt>
  <dd><%= @producto.Cata %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Temperatura) %>:</strong></dt>
  <dd><%= @producto.Temperatura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:anada) %>:</strong></dt>
  <dd><%= @producto.anada %></dd>
  <dt><strong><%= model_class.human_attribute_name(:crianza) %>:</strong></dt>
  <dd><%= @producto.crianza %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uva) %>:</strong></dt>
  <dd><%= @producto.uva %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              productos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_producto_path(@producto), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              producto_path(@producto),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
