<%- model_class = Bodega -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @bodega.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @bodega.direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:correo) %>:</strong></dt>
  <dd><%= @bodega.correo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono1) %>:</strong></dt>
  <dd><%= @bodega.telefono1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono2) %>:</strong></dt>
  <dd><%= @bodega.telefono2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rut) %>:</strong></dt>
  <dd><%= @bodega.rut %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bodega_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bodega_path(@bodega), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bodega_path(@bodega),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
