<%= form_for @formatoventum, :html => { :class => 'form-horizontal' } do |f| %>

	<% if @formatoventum.errors.any? %>
	    <div class="alert alert-error fade in">
		  	<a class="close" data-dismiss="alert" href="#">&times;</a>
  			<h4><%= pluralize(@formatoventum.errors.count, "Error") %> Revise los datos ingresados:</h4>
     		<ul>
      		<% @formatoventum.errors.full_messages.each do |msg| %>
        		<li><%= msg %></li>
      		<% end %>
	      </ul>
    	</div>
   	  <% end %>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descripcion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unidades, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :unidades, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :costoadicional, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :costoadicional, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit @mixboton + " Formato", :class => 'btn btn-primary' %>
    <%= link_to t('Cancelar', :default => t("helpers.links.cancel")),
                formatoventa_path, :class => 'btn' %>
  </div>
<% end %>
