<%- model_class = Formatoventum -%>
<div class="page-header">
  <h3>Formato</h3>
</div>

<dl class="dl-horizontal">
	<table><tr><td>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @formatoventum.descripcion %></dd>
  </td></tr>
  <tr><td>
  <dt><strong><%= model_class.human_attribute_name(:unidades) %>:</strong></dt>
  <dd><%= @formatoventum.unidades %></dd>
  </td></tr>
  <tr><td>
  <dt><strong><%= model_class.human_attribute_name(:costoadicional) %>:</strong></dt>
  <dd><%= @formatoventum.costoadicional %></dd>
  </td></tr>
  </table>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("Volver")),
              formatoventa_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("Editar")),
              edit_formatoventum_path(@formatoventum), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("Eliminar")),
              formatoventum_path(@formatoventum),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
