<%= form_for @cliente, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :Rut, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Rut, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :NombreApellido, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreApellido, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :RazonSocial, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :RazonSocial, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Direccion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Telefono, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Telefono, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Movil, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Movil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :FechaNacimiento, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :FechaNacimiento, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Contrasena, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Contrasena, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :estado, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clientes_path, :class => 'btn' %>
  </div>
<% end %>
