<div class="page-header">
  <h2>Clientes</h2>
</div>
<a class="btn" href="http://www.google.cl" data-toggle="modal" data-target="#myModal">Launch Modal</a>
<div class="modal fade" id="myModal">
	sdsdfsdf
	fsdf
	sdfs
	df
	sdf
	sdf
	sdf
	sd
	fsd
	f
</div>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>id</th>
      <th>Rut</th>
      <th>Nombre o Razon</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Movil</th>
      <th>Fecha Nac-Creacion</th>
      <th>email</th>
      <th>Tipo</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= link_to cliente.id, cliente_path(cliente) %></td>
        <td><%= cliente.Rut %></td>
        <td><%if cliente.estado== 0 %>
        		<%= cliente.NombreApellido %>
        	<%else%>
        		<%= cliente.RazonSocial %>
        	<%end%>
        </td>
        <td><%= cliente.Direccion %></td>
        <td><%= cliente.Telefono %></td>
        <td><%= cliente.Movil %></td>
        <td><%= cliente.FechaNacimiento %></td>
        <td><%= cliente.email %></td>
        <td>
        	<%if cliente.estado== 0 %>
        		Persona
        	<%else%>
        		Empresa
        	<%end%>
        </td>

        <td>
          <%= link_to t('.Editar', :default => "Editar"),
                      edit_cliente_path(cliente), :class => 'btn btn-mini' %>
          <%= link_to t('.Eliminar', :default => t("helpers.links.Eliminar")),
                      cliente_path(cliente),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta Seguro?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.Nuevo', :default => "Nuevo Cliente"),
            new_cliente_path,
            :class => 'btn btn-primary' %>
