<div class="page-header">
  <h1>Clientes</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Rut</th>
      <th>NombreApellido</th>
      <th>RazonSocial</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Movil</th>
      <th>FechaNacimiento</th>
      <th>email</th>
      <th>estado</th>
      <th>created_at</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= link_to cliente.id, cliente_path(cliente) %></td>
        <td><%= cliente.Rut %></td>
        <td><%= cliente.NombreApellido %></td>
        <td><%= cliente.RazonSocial %></td>
        <td><%= cliente.Direccion %></td>
        <td><%= cliente.Telefono %></td>
        <td><%= cliente.Movil %></td>
        <td><%= cliente.FechaNacimiento %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.estado %></td>
        <td><%=l cliente.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_cliente_path(cliente), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cliente_path(cliente),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_cliente_path,
            :class => 'btn btn-primary' %>
