<%- model_class = Cliente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Rut) %>:</strong></dt>
  <dd><%= @cliente.Rut %></dd>
  <dt><strong><%= model_class.human_attribute_name(:NombreApellido) %>:</strong></dt>
  <dd><%= @cliente.NombreApellido %></dd>
  <dt><strong><%= model_class.human_attribute_name(:RazonSocial) %>:</strong></dt>
  <dd><%= @cliente.RazonSocial %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Direccion) %>:</strong></dt>
  <dd><%= @cliente.Direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Telefono) %>:</strong></dt>
  <dd><%= @cliente.Telefono %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Movil) %>:</strong></dt>
  <dd><%= @cliente.Movil %></dd>
  <dt><strong><%= model_class.human_attribute_name(:FechaNacimiento) %>:</strong></dt>
  <dd><%= @cliente.FechaNacimiento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @cliente.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Contrasena) %>:</strong></dt>
  <dd><%= @cliente.Contrasena %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estado) %>:</strong></dt>
  <dd><%= @cliente.estado %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              clientes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cliente_path(@cliente), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              cliente_path(@cliente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
