<!DOCTYPE html>
<html>
<head>
  <title>TiendaVirtual</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= nav_bar :static => :top,:inverse => true, :brand => "ADMINISTRACION TIENDA" do %>
	    <% menu_group :pull => :right do %>
	    

		    <%= drop_down "Mantenedores" do %>
		        <%= menu_item "Productos", productos_path %>
		        <%= menu_item "Clientes", clientes_path %>
		        <%= menu_item "Bodegas", bodegas_path%>
		        <%= menu_item "Formato Venta", formatoventa_path %>        
		    <% end %>
		    
		    <%= menu_item "Facturas", '#' %>
		    
   		    <%= drop_down "Informes" do %>
		        <%= menu_item "Listado", "#" %>
		    <% end %>   	        
	        <%= menu_item "Salir", '/inicio/index' %>
	    <% end %>
	<% end %>
<br />
<div class="container-fluid">
<div class="hero-unit">
<%= yield %>
</div>
</div>
</body>
</html>
