<!DOCTYPE html>
<html>
<head>
  <title>Tienda Virtual</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="bodytienda">
<div class="container">
<div class="span12 columns">
	<div class="row">
		<%= nav_bar :static => :top,:inverse => true, :brand => "Tienda de Vinos" do %>
	    <% menu_group :pull => :right do %>
	        <%= menu_item "Registrarse", clientes_path %>
	        <%= menu_item "LogOut","#" %>
	        <%= menu_item "Carrito", '#' %>
   	        <%= menu_item "Administrar", "/administrar/index" %>
  	        
	    <% end %>
	<% end %>	
	</div>
</div>
</div>
<br />	

<div class="container">
	<div class="span12">
	<div class="row">
		<div class="well" style="background-color: #8A0808; border: none;">
			<div class="row-fluid">
				<div class="span3">
					<div class="well" style="background-color:#FBFBEF; border: none;">
						
					</div>
				</div>
				
				<div class="span9">
					<div class="well" style="background-color:#FBFBEF; border: none;">
					<%= yield %>	
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

</body>
</html>
